@media (min-width: 500px) {

    .page {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }

    .episode__description {
        width: 80%;
    }

}

@media (min-width: 767px) {

    .site-header {
        display: grid;
        grid-template-columns: 48.75% 48.75%;
        grid-gap: 20px 2.5%;
    }
    .site-description {
        align-self: center;
    }
    .site-slogan {
        align-items: flex-end;
        justify-content: center;
    }
    
    .episode__inner {
        margin: 40px;
    }

}