@import '../../node_modules/normalize-scss/sass/normalize/import-now';

/**
 * SASS-grjer
 */

 /* Färger */
 $brown: #60332a;
 $vanilla: #f7f7ee;
 $blue: #6b88a9;

@mixin center {
    margin: 0 auto;
    display: block;
}

body {
    font-family: sans-serif;
    background: $vanilla;
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
}

a, a:visited {
    color: $blue;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

ul {
    padding-left: 20px;
}

.site-wrapper {
    overflow: hidden;
}

.page {
    @include center;
    max-width: 768px;
    width: 95%;
}

.site-header {}
.site-logo {
    max-width: 200px;
}
.site-title {
    text-align: center;
    text-transform: lowercase;
    font-weight: normal;
    font-size: 4em;
    .wf-muli-n4-active & {
        font-family: 'Muli';
        font-weight: 400;
    }
}

.episode {
    margin-bottom: 50px;
    box-shadow: 0 0 5px rgba(0,0,0, .2);
    background: white;
}
.episode__header {
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.episode__title {
    margin: 0;
    font-weight: normal;
}
.episode__metadata {
    font-size: 14px;
    color: #333;
}
.episode__image {
    margin: 0;
    grid-column-start: 1;
    img {
        display: block;
    }
}
.episode__player {
    width: 100%;
    margin-bottom: 20px;
}
.episode__description {
    grid-column-start: 2;
    grid-column-end: end;
    grid-row-start: 1;
    p:first-of-type {
        margin-top: 0;
    }
}
.episode__description__inner {
    margin: 20px;
}

@import 'mq';