@import '../../node_modules/normalize-scss/sass/normalize/import-now';

/**
 * SASS-grjer
 */

 /* Färger */
 $brown: #60332a;
 $vanilla: #f7f7ee;
 $blue: #6b88a9;

@mixin center {
    margin: 0 auto;
    display: block;
}

body {
    font-family: sans-serif;
    background: $vanilla;
    line-height: 1.5;
    .wf-muli-n4-active & {
        font-family: 'Muli';
        font-weight: 400;
    }
}

img {
    max-width: 100%;
    height: auto;
}

a, a:visited {
    color: $blue;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

ul {
    padding-left: 20px;
}

.site-wrapper {
    overflow: hidden;
}

.page {
    @include center;
    max-width: 768px;
    width: 95%;
}

.site-header {
    padding: 20px 0;
}
.site-description {
    padding: 10px 0;
    p {
        margin: 0;
    }
}
.site-slogan {
    margin: 0 0 20px;
    display: flex;
    align-items: flex-start;
    h2 {
        margin: 0;
        color: $brown;
        text-align: center;
        font-weight: 400;
        line-height: 1;
    }
}

.media-logos {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-items: center;
}
.media-logos__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    svg {
        margin: 0 auto 3px;
        display: block;
        fill: $brown;
    }
    span {
        display: block;
        font-size: 0.875em;
        text-align: center;
    }
    a {
        color: $brown;
    }
    a:hover {
        color: $blue;
        svg {
            fill: $blue;
        }
    }
}

.episode {
    margin-bottom: 50px;
    box-shadow: 0 0 5px rgba(0,0,0, .2);
    background: white;
    overflow: hidden;
}
.episode__header {
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.episode__title {
    margin: 0;
    font-weight: normal;
    text-align: center;
}
.episode__metadata {
    font-size: 14px;
    color: #333;
    text-align: center;
}
.episode__image {
    margin: 0 0 20px 0;
    border: 2px solid $brown;
    img {
        display: block;
    }
}
.episode__player {
    width: 100%;
    margin-bottom: 20px;
}
.episode__description {
    margin: 0 auto;
    p:first-of-type {
        margin-top: 0;
    }
}
.episode__inner {
    margin: 20px;
}

@import 'mq';